

.calculator {
  max-width: 500px;
  min-width: 20px;
  border-radius: 10px;
  border-style: none;
  border-width: 3px;
  background-color: #2C3E50;
  margin: 200px;
}


.output-screen {
  position: relative;
  height: 275px;
  text-align: right;
  font-size: 65px;
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;


}


#current-calc {
  font-size: 45px;
  margin-right: 20px;
  margin-top: 20px;


}

#output {
  font-size: 60px;
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  height: 150px;
  border-radius: 1000px;
  color: black;

  align-items: center;
  vertical-align: middle;
  line-height: 150px;
  padding-right: 30px;
}



.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 600px; 
  margin: auto;
  gap: 10px;
  padding: 10px;
  background-color: grey;
  border-radius: 8px;
  border: none;
}




.button-container button {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-color: 	rgb(109, 108, 108);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button-container button:hover {
  background-color: darkgray;
  transform: scale(1.05)
  
}

.button-container button:active {
  transform: scale(0.97);
}

